.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.AppTitle {
  margin-bottom: 30px;
  margin-top: 30px;
}

.SendButton{
  margin-left: 10px;
}